
/* Category selection styles */
.category-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 2rem auto;
  }
  
  .category-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .category-card h2 {
    margin-top: 0;
    font-size: 24px;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .category-card button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .category-card button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
/* Category-specific color themes */
.category-science {
    background-color: #5ca165; /* Softer green color theme for Science */
  }
  
  .category-geography {
    background-color: #ffac33; /* Softer orange color theme for Geography */
  }
  
  .category-music {
    background-color: #e54c80; /* Softer pink color theme for Music */
  }
  
  .category-history {
    background-color: #a24b99; /* Softer purple color theme for History */
  }

  .category-card h2 {
    color:rgb(241, 241, 241)
  }

  /* Average scores section styles */
.average-scores-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #c9bbe1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .average-scores-section h2 {
    margin-top: 0;
    font-size: 28px;
    color: #007bff;
    text-align: center;
  }
  
  .average-scores-section p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
    color: black;
    text-align: center;
    font-family:cursive;
  }
  
  /* Logout button styles */
  .logout-button {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: #7d8690;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    /* Adding a subtle gradient background */
    background-image: linear-gradient(45deg, #062e5a, #982785);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .logout-button:hover {
    transform: scale(1.05);
    /* Adding a shadow effect on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .greeting {
    text-align: center;
    font-size: 3rem;
    margin-top: 0.5rem;
  }